.evaluation_customer{
    margin-top: 2.5em;
}

.credit_main_evaluation_sector_title{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1.6em;
}

.credit_main_customer_sector_score{
    font-size: 1em;
    margin-left: 1em;
}
