

.mypage_main{
    align-items: center;
    margin-bottom: 100px;
}

.main_header_container{
    width: 55%;     
}

.mypage_main_profile{
    font-size: 10px;
    border-bottom: 1px solid rgba(66, 65, 65, 0.5);
    background-color: #2E2E2E;
}

.mypage_main_profile_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:2em ;
    
}

.mypage_main_profile_top_title{
    font-size: 3.2em;
    font-family: 'East Sea Dokdo', cursive;
    color: white;
}

.mypage_main_profile_bottom{
    margin-top: 70px;
    margin-bottom: 90px;
}

.mypage_main_profile_bottom_left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage_main_profile_bottom_photo{
    text-decoration: none;
}

.mypage_main_profile_bottom_photo img{
    width: 15em;
    height: 15em;
    border-radius: 120px;
    border: 1px solid rgba(0,0,0, .5);
}

.mypage_main_profile_bottom_nick{
    margin-top: 1em;
    font-size: 1.6em;
    font-weight: 600;
    color: white;
}
 
.mypage_main_profile_top_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.mypage_main_profile_top_icon:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.mypageModify{
    font-size: 16px;
    margin-left: 5px;
    font-family: 'East Sea Dokdo', cursive; 
}

.profile_bottom_icon{
    color: rgba(250, 246, 246, 0.8);
    font-size: 2.0em;
}


