footer{
    width:80%;
    height: 50px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:  .5px solid rgba(0, 0, 0, 0.2);
}

.footer_column2{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.footer-customerCenter{
    color:white;
}

.footer-community{
    margin:0 5px 0 15px;
    color:white;
}

.blackText{
    color:black;
}